* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

nav {
    padding: 10px 40px 10px 70px;
    text-decoration: none;
}


nav div ul li{
    position: relative;
	overflow: hidden;
	background: #ff5142;
	padding: .5rem .8rem;
	display: flex;
	color: #333;
	font-size: 5px;
	cursor: pointer;
	border-radius: 100px;
	outline: none;
	border: none;
    
}

nav ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	height: 100%;
	font-size: .7em;
	height: 6vh;
	justify-content: right;
}

li a {
	text-decoration: none;
	color: rgb(14, 10, 2);
	padding: 0 5px;
	display: flex;
	align-items: center;
	background-color: transparent;
	height: 100%;
	font-size: 40px;

}

nav ul li {
	position: relative;
	overflow: hidden;/* rge */
	display: flex; 	
	background: #ff5142;
	padding: .5rem .8rem;
	color: #333;
	font-size: 8px;
	cursor: pointer;
	border-radius: 100px;
	outline: none;
	border: none;


}

nav ul li::before {
	--size: 0;
	content: '';
	position: absolute;
	left: var(--x);
	top: var(--y);
	width: var(--size);
	height: var(--size);
	background: radial-gradient(circle closest-side, rgb(255, 219, 59), transparent);
	transform: translate(-50%, -50%);
	transition: all .1s ease;
}


main div.menu {
    flex-direction: column;
    display: inline-flex;
    text-decoration: none;
    color: black;
}

main div.menu a {
    text-decoration: none;
    font-size: 20px;
    width: 100%;

}

nav div button {
    background-color: white;
    position: left;
    height: 5%;
    width: 6%;
    padding: 0 12px;
}


.container{
    background-color: antiquewhite;

}

section {
    height: 100vh;
}

.text-panel{
    width: 50vh;
    text-align: center;
}

div section img.image-formation {
    height: 166px;
    width: 205px;
}

div section img.image-bts {
    height: 166px;
    width: 205px;
}

div section img.image-unversite-strasbourg {
    height: 100px;
    width: 100px;
}

h2 {
    text-align: center;
}