* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {}


/* header */
.menu{
	position: absolute;
	height: 100%;
	width: 100%;
}


nav {
	padding: 10px 0 10px ;
	text-decoration: none;

}

nav div ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	height: 100%;
	font-size: .7em;
	height: 6vh;
	justify-content: right;
}

nav div ul li {
	position: relative;
	overflow: hidden;
	display: flex;
	background: #ff5142;
	padding: .2rem .2rem;
	color: #333;
	font-size: 8px;
	cursor: pointer;
	border-radius: 100px;
	outline: none;
	border: none;
}

nav li a {
	text-decoration: none;
	color: rgb(14, 10, 2);
	padding: 0 5px;
	display: flex;
	align-items: center;
}


main div.menu a {
	font-size: 15px;

}




section {
	height: 100vh;
}


div section img.image-formation {
	height: 166px;
	width: 205px;
}

div section img.image-bts {
	height: 166px;
	width: 205px;
}

div section img.image-unversite-strasbourg {
	height: 100px;
	width: 100px;
}

/* Tout les H2 dans le site vont se mettre au centre */
h2 {
	text-align: center;
}

nav .logo img{
	width: 100px;
	height: 100px;
}


/* 1er page */

.first-page {
	background-color: rgb(66, 59, 59);
	color: white;
	padding: 145px;

}

.text-panel {
	padding: 140px;
}

.computer-image img {
	width: 600px;
	height: 600px;
	display:flex;

}





/* 5e page */
.fith-section {
	background-color: aliceblue;
}

.fith-section div div li {
	background: #ff5142;
	display: inline-flex;
	border-bottom: 1px solid;
	align-items: center;
	justify-content: center;
	border-radius: 10%;
}


.btn-projets {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section div div.btn-projets a {
	text-decoration: none;
	font-size: 25px;
	padding: 0 12px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}






















/* Dernière page */
.last-section {
	background-color: silver;
	text-decoration: none;

}

.last-section i {
	width: 50px;
	height: 500px;
}

.add-me {
	text-align: center;
}

.add-me i {
	width: 50px;
	height: 50px;
}



.last-section h3 {
	text-align: center;
}


footer div {
	display: flex;
	left: 50%;

}

footer {
	background-color: #333;
	color: white;
	padding: 50px;

}

footer p {
	padding: 0 20px 0;
}