* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {}

nav {
	padding: 10px 40px 10px 70px;
	text-decoration: none;

}

nav div ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	height: 100%;
	font-size: .7em;
	height: 6vh;
	justify-content: right;
}

nav div ul li {
	position: relative;
	overflow: hidden;
	display: flex;
	background: #ff5142;
	padding: .5rem .8rem;
	color: #333;
	font-size: 8px;
	cursor: pointer;
	border-radius: 100px;
	outline: none;
	border: none;
}

nav li a {
	text-decoration: none;
	color: rgb(14, 10, 2);
	padding: 0 5px;
	display: flex;
	align-items: center;
	background-color: transparent;
	font-size: 40px;
}




main div.menu {
	flex-direction: column;
	display: flex;
	text-decoration: none;

}

main div.menu a {

	font-size: 15px;
	width: 100%;

}

section {
	height: 100vh;
}

.text-panel {
	width: 50vh;
	text-align: center;
}

div section img.image-formation {
	height: 166px;
	width: 205px;
}

div section img.image-bts {
	height: 166px;
	width: 205px;
}

div section img.image-unversite-strasbourg {
	height: 100px;
	width: 100px;
}

h2 {
	text-align: center;
}

.first-page {
	background-color: rgb(66, 59, 59);
	color: white;
	padding: 145px 100px 100px;

}

.fith-section{
	background-color: aliceblue;
}

.fith-section btn-projet {
	text-transform: none;
}




























.last-section {
	background-color: silver;
	text-decoration: none;
}

.last-section i {
	width: 50px;
	height: 500px;
}

.add-me {
	text-align: center;
}

.add-me a{
	width: 100px;
	height: 100px;
}



.last-section h3 {
	text-align: center;
}


footer div {
	display: flex;
	left: 50%;

}

footer {
	background-color: #333;
	color: white;
	padding: 50px;

}

footer p {
	padding: 0 20px 0;
}